@import url('https://fonts.googleapis.com/css2?family=Delius&family=DynaPuff:wdth,wght@85,400..700&family=Gamja+Flower&display=swap');
:root{
    --dark-purple: #112031;
    --light-purple: #112031;
    --dark-pink:  #D4ECDD;
    --light-pink: #345B63;
    --shadow-hover: #FAF4FF;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Delius", cursive;
    color: var(--shadow-hover);
    user-select: none;
}

.flexbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    height: 100vh;
    width: 100%;
}
.playlist {
    position: relative;
    padding: 20px 20px 0 0;
    width: 30%;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: var(--light-purple);
   
  
}
.playlist h1{
    font-size: 35px;
    text-align: center;
}

.search{
    width: 50%;
    margin: 10px auto;
    position: relative;
}
#search{
    width: 100%;
    border: 1px solid var(--dark-pink);
    background: transparent;
    padding: 10px 20px;
    border-radius: 10px;
}
#search:focus, #search:valid{
    outline: 0;
    background: transparent;
}

.search-img {
    position: absolute;
    right: 5px;
}
#search:focus + .search-img{
    right: -50px;
}
#playlist-container{
    border-radius: 10px;
    width: 98%;
    margin: 10px auto 0;
    padding: 0 10px 0 ;
    max-height: 86.5vh;
    overflow-y: scroll;
    /* box-shadow: inset 0px -20px 10px -10px   var(--linear-gradient); */
    background: linear-gradient( transparent 95%, rgba(0, 0, 0, 0.385));
    /* scrollbar-width: thin; 
    scrollbar-color: var(--dark-purple) var(--light-pink); */
}

#playlist-container::-webkit-scrollbar {
    width: 5px; 
}

#playlist-container::-webkit-scrollbar-track {
    background: var(--light-pink); 
    border-radius: 10px; 
}

#playlist-container::-webkit-scrollbar-thumb {
    background: var(--dark-purple); 
    border-radius: 10px; 
}


.song{
    margin: 20px 0;
}
.playlist-album-cover{
    width: 50px;
}
.playlist-song-details{
    width: 230px;
}
.playlist-song-details p:nth-child(1){
    font-size: 25px;
}
.playlist-song-details p:nth-child(2){
    font-size: 18px;
}
#play-song{
    background-color: var(--dark-pink);
    border-radius: 50%;
}






















.player{ 
    position: relative;
    background-color: var(--dark-purple);
    width: 70%;
    min-height: 100vh;
    box-sizing: border-box;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}
#player-img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    object-position: center;
}
.player-container{
    width: 90%;
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    min-height: 95vh;
    padding: 20px 50px;
}

.credentials a, .credentials{
    font-size: 18px;
    text-decoration: none;
}

.credentials a:hover{
    text-shadow: 1px 0 1px var(--shadow-hover);
}
.song-details{
    margin: 0 0 40px;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 75px 75px;
    column-gap: 30px;
    width: max-content;
}
.song-cover{
    grid-row: span 2;
}
.song-cover img{
    width: 150px;
    border-radius: 10px;
}
#song-name{
    font-size: 50px;
}
#song-artist{
    font-size: 30px;
}


#song-progress, #volume{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
    width: 100%;
    height: 7px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--shadow-hover);
}
#song-progress:hover, #volume:hover, #search:focus{
    box-shadow: 0 1px 10px var(--shadow-hover), 0 -1px 10px var(--shadow-hover);
}
#song-progress::-webkit-slider-thumb, #volume::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: var(--light-purple);
    box-shadow: -400px 0 0 398px var(--dark-pink);
    height: 7px;
    width: 7px;
    border-radius: 50%;
}
.controls{
    width: 90%;
}
.play-controls{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.play-controls > div:not(:nth-child(2)){
    width: 50px;
    height: 50px;
}
.play-controls > div{
    border-radius: 50%;
    background-color: var(--dark-pink);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .8s;
}

.play-controls > div:hover{
    box-shadow: 0 5px 15px var(--shadow-hover), 0 -5px 15px var(--shadow-hover);
}

.volume-controls{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#volume{
    height: 10px;
    width: 80px;
    transition: all .8s;
    margin-left: 10px;
}
#volume::-webkit-slider-thumb{
    height: 10px;
    width: 10px;
}

.play-btn {
    position: relative;
    width: 60px;
    height: 60px;
}
.play-btn div{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    width: 10px;
    height: 30px;
    border-radius: 5px;
    border: 5px solid var(--dark-purple);
    transition: all .5s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.play-btn div:nth-child(2){
    left: 55%;
    transform-origin: center;
}

.play-btn.paused div:nth-child(2){
    transform: translateY(-50%) scaleY(0);
}

.play-btn.paused div:nth-child(1){
    width: 35%;
    left: 53%;
    transform: translate(-50%, -50%);
    background-color: var(--dark-purple);
    border-radius: 2px;
    clip-path: polygon(5% 1%, 97% 47%, 99% 50%, 97% 53%, 5% 99%, 0 100%, 0 53%, 0 0);
}