@import url('https://fonts.googleapis.com/css2?family=Delius&family=DynaPuff:wdth,wght@85,400..700&family=Gamja+Flower&display=swap');
:root{
    --dark-purple: #17153B;
    --light-purple: #433D8B;
    --dark-pink: #C8ACD6;
    --light-pink: #EBD3F8;
    --shadow: #74dfedad;
    --shadow-hover: #FAF4FF;
}
body{
    background-color: #1F2544;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Delius", cursive;
    color: var(--shadow-hover);
    user-select: none;
}
.flexbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    height: 100vh;
    width: 100%;
}
.playlist {
    padding: 20px;
    width: 30%;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: var(--dark-purple);
  
}
.playlist h1{
    font-size: 35px;
    text-align: center;
}

.menu{
    position: relative;
    width: 35px;
    height: 40px;
}
.menu div{
    height: 5px;
    background-color: var(--light-pink);
    border-radius: 5px;
    position: absolute;
    transition: all .5s ease-in-out;
}
.menu div{
    width: 100%;
}
.menu div:nth-child(1){
    top: 5px;
}
.menu div:nth-child(2){
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu div:nth-child(3){
    bottom: 5px;
}




.menu.active-menu div:nth-child(1){
    width: 20px;
    top: 47%;
    transform-origin: left;
    left: 1px;
    transform: rotate(-40deg);
}
.menu.active-menu div:nth-child(2){
    width: 100%;
}
.menu.active-menu div:nth-child(3){
    width: 20px;
    left: 1px;
    bottom: 47%;
    transform-origin: left;
    transform: rotate(40deg) ;
}

.playlists-container{
    position: relative;
}

#cover-container{
    position: absolute;
}
#cover-container.hidden-cover{
    left: -100vw;
    transition: all .8s ease-in-out;
}

.playlist-cover{
    width: max-content;
    margin: 20px 0;

}
.playlist-cover img{
    width: 100px;
    margin-right: 20px;
}

.playlist-container{
    background-color: red;
    width: 100%;
    position: absolute;
    left: -100vw;
    padding: 0 10px 0 0;
    max-height: 1000px;
    overflow-y: scroll;
    box-shadow: inset 0px -20px 10px -10px rgba(0, 0, 0, 0.519)  ;
    transition: all .8s ease-in-out;
    /* scrollbar-width: thin; 
    scrollbar-color: var(--dark-purple) var(--light-pink); */
}
.playlist-container.active-playlist, #cover-container{
    left: 0;
    transition: all .8s ease-in-out;
}
.playlist-container::-webkit-scrollbar {
    width: 5px; 
}

.playlist-container::-webkit-scrollbar-track {
    background: var(--light-pink); 
    border-radius: 10px; 
}

.playlist-container::-webkit-scrollbar-thumb {
    background: var(--dark-purple); 
    border-radius: 10px; 
}


.song{
    margin: 20px 0;
}
.playlist-album-cover{
    width: 50px;
}
.playlist-song-details{
    width: 230px;
}
.playlist-song-details p:nth-child(1){
    font-size: 25px;
}
#play-song{
    background-color: var(--light-pink);
    border-radius: 50%;
}






.player{ 
    position: relative;
    background-color: var(--dark-purple);
    width: 70%;
    min-height: 100vh;
    box-sizing: border-box;
}



.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}
#player-img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    object-position: center;
}
.player-container{
    width: 90%;
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    min-height: 95vh;
    padding: 20px 50px;
}

.credentials a, .credentials{
    font-size: 18px;
    text-decoration: none;
}

.credentials a:hover{
    text-shadow: 1px 0 1px var(--shadow-hover);
}
.song-details{
    margin: 0 0 40px;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 75px 75px;
    column-gap: 30px;
    width: max-content;
}
.song-cover{
    grid-row: span 2;
}
.song-cover img{
    width: 150px;
    border-radius: 10px;
}
#song-name{
    font-size: 50px;
}
#song-artist{
    font-size: 30px;
}


#song-progress, #volume{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
    width: 100%;
    height: 7px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--shadow-hover);
}
#song-progress:hover, #volume:hover{
    box-shadow: 0 1px 10px var(--shadow-hover), 0 -1px 10px var(--shadow-hover);
}
#song-progress::-webkit-slider-thumb, #volume::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: var(--light-purple);
    box-shadow: -400px 0 0 398px var(--dark-pink);
    height: 7px;
    width: 7px;
    border-radius: 50%;
}
.controls{
    width: 90%;
    /* margin: 10px auto 0; */
}
.play-controls{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.play-controls > div:not(:nth-child(2)){
    width: 50px;
    height: 50px;
}
.play-controls > div{
    border-radius: 50%;
    background-color: var(--dark-pink);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .8s;
}

.play-controls > div:hover{
    box-shadow: 0 5px 15px var(--shadow-hover), 0 -5px 15px var(--shadow-hover);
}

.volume-controls{
    /* position: relative; */
    display: flex;
    flex-direction: row;
    align-items: center;
}
#volume{
    /* transform: translate(30%, -50%); */
    height: 10px;
    width: 80px;
    transition: all .8s;
    margin-left: 10px;
}
#volume::-webkit-slider-thumb{
    height: 10px;
    width: 10px;
}
/* #volume-img:hover ~ #volume, #volume:hover{
    width: 80px;
} */
.play-btn {
    position: relative;
    width: 60px;
    height: 60px;
}
.play-btn div{
    position: absolute;
    top: 50%;
    left: 18%;
    transform: translateY(-50%);
    width: 10px;
    height: 30px;
    border-radius: 5px;
    border: 5px solid var(--dark-purple);
    transition: all .5s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.play-btn div:nth-child(2){
    left: 55%;
    transform-origin: center;
}

.play-btn.paused div:nth-child(2){
    transform: translateY(-50%) scaleY(0);
}

.play-btn.paused div:nth-child(1){
    width: 35%;
    left: 53%;
    transform: translate(-50%, -50%);
    background-color: var(--dark-purple);
    border-radius: 2px;
    clip-path: polygon(5% 1%, 97% 47%, 99% 50%, 97% 53%, 5% 99%, 0 100%, 0 53%, 0 0);
}